


.jumbotron{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("viewMaterial_3.jfif");
	background-size:cover;
	color:white;
}

#btn1 {
  padding: 1rem 3rem;
  border-radius: 100px;
  font-size:17px;
}

#topbar {
	background: #fff;
	padding: 10px 0px;
	font-size: 15px;
}

#topbar .contact-info a {
	line-height: 100%;
	color: #000000;
}

#topbar .contact-info a:hover {
	color: #625FCC;
}

#topbar .contact-info i {
	color: #625FCC;
	padding: 5px;
}

#topbar .contact-info .fa-envelope-o {
	margin-left: 10px;
}

#topbar .contact-info .fa-phone {
	padding-left: 20px;
	margin-left: 20px;
	border-left: 1px solid #e9e9e9;
}

#topbar .social-links a {
	color: #555;
	margin-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 18px;
	display: inline-block;
	line-height: 100%;
	border-right: 1px solid #e9e9e9;
}

#topbar .social-links .twitter {
	border-right: none;
}

#topbar .social-links a:hover {
	color: #625FCC;
}
#topbar .clearfix {
	 overflow: auto;
}

.navbar {
	margin-bottom: 0px;
}

.nav-pills .pill-1 .nav-link:not(.active) {
	color: rgb(255, 255, 255);
}

.nav-pills .pill-2 .nav-link:not(.active) {
	color: rgb(255, 255, 255);
}

.nav-pills .pill-3 .nav-link:not(.active) {
	color: rgb(255, 255, 255);
}

.nav-pills .pill-4 .nav-link:not(.active) {
	color: rgb(255, 255, 255);
}

.card-box {
  width: 100%;
}

.card-img img {
  width: 100%;
}

.card {
background-color: transparent;
border: none;
border-radius: 5px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover{box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}

.container2{
	margin-top: 20px;
	margin-bottom: 30px;
	font-size:20px;}

.form-group {
	margin-top: 18px;}

.form-groupform-check{
	margin-top: 5px;
	margin-bottom: 30px;}


/* Page footer*/

.footer{
  background: #152F4F;
  color:white;

  .links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  }
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);}
}
